@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.summarizer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 659px;
    ::-webkit-scrollbar {
        display: block;
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
        
    ::-webkit-scrollbar-thumb {
        background-color: grey;
        border-right: none;
        border-left: none;
    }
    
    ::-webkit-scrollbar-track-piece:end {
        background: transparent;
        margin-bottom: 10px; 
    }
    
    ::-webkit-scrollbar-track-piece:start {
        background: transparent;
        margin-top: 10px;
    }
    .heading{
        margin-bottom: 10px;
        span{
            font-size: 40px;
            font-family: Agbalumo;
            color: rgb(57, 39, 39);
        }
        div{
            color: rgb(71, 61, 61);
            font-size: 18px;
            font-family: serif;
        }
    }
    .container{
       width: 80%;
        display: flex;
        .left{
            flex: 1;
            textarea{
                resize: none;
                border: 2px solid black;
                border-radius: 20px;
                padding: 20px;
                margin-bottom: 10px;
                background-color: rgb(192, 223, 249);
            }
            h1{
                margin: 10px;
                font-size: 30px;
                color: rgb(54, 39, 19);
                font-family: Roboto Slab;
            }
            button:active{
                box-shadow: 2px 2px black;
                transform: translateY(3px);
            }
            button{
                border-radius: 10px;
                font-size: 18px;
                margin: 10px;
                padding: 10px;
                background-image: linear-gradient(#47b2eb,#b3cadf);
                box-shadow: 2px 5px black;
                font-family: Roboto Slab;
                font-weight: bold;
                color: rgb(42, 36, 36);
                cursor: pointer;
            }
            .bottom{
                display: flex;
                margin: 0 60px;
                justify-content: space-evenly;
                width: 80%;
                .sumlen{
                    margin-top: 10px;
                    div{
                        font-size: 18px;
                        font-family: Roboto Slab;
                        color: rgb(42, 36, 36);
                        font-weight: bold;
                    }
                }
            }
        }
        .right{
            flex: 1;
            position: relative;
            h1{
                margin: 10px;
                font-size: 30px;
                color: rgb(54, 39, 19);
                font-family: Roboto Slab;
            }
            textarea{
                resize: none;
                border: 2px solid black;
                border-radius: 20px;
                padding: 20px;
                background-color: rgb(192, 223, 249);
            }
            button:active{
                transform: translateY(3px);
            }
            button{
                position: absolute;
                top: 70px;
                right: 95px;
                background-color: rgba(0,0,0,0);
                border: none;
                font-size: 20px;
                color: grey;
            }
        }
    }
}